langchain
python-dotenv  
langchain-community
langchain-text-splitters
langchain-openai
ipykernel
bs4
faiss-cpu
chromadb
streamlit
langchain_groq
sentence_transformers
langchain-chroma
langchain_huggingface
sentence_transformers 
duckdb
pandas 
openai
langchain-experimental
pypdf
duckduckgo-search
pymupdf
arxiv
wikipedia
langchain_ollama